body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

pre code {
    display: block;
    white-space: pre-wrap;
}

code, pre code {
    font-family: Consolas, monospace;
}

pre {
    overflow-x: auto;
}

.command {
    color: #FF5733;
}

.code {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.section-heading {
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
}